
body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  scroll-behavior:smooth;
  background-color:#343434;
}

@font-face {
    font-family: 'Policesubtitle';
    src: url('../Images/Font/nasalization-rg.otf');
}

@font-face {
    font-family: 'Policespec';
    src: url('../Images/Font/Dead_Revolution.otf');
}

@font-face {
    font-family: 'Policetitle';
    src: url('../Images/Font/Game_Of_Squids.ttf');
}

pre
{
	display:inline;
}

a 
{
	color:#E47900 ;
	text-decoration:none;
}
a:hover
{
	color:#66B500 ;
}
a:clicked
{
	color:white;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 24px "Policespec", sans-serif;
  color: white;
  text-align:center;
  text-shadow:4px 4px 4px black;
}

h2
{
	letter-spacing: 5px;
  text-transform: uppercase;
  font: 18px "Policesubtitle", sans-serif;
  color:  white ;
  text-align:center;
  font-weight:bold;
  text-shadow:4px 4px 4px black;
}

h4
{
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 15px "Policetitle", sans-serif;
  color:  white ;
  text-align:center;
  font-weight:bold;
  text-shadow:4px 4px 4px black;
}
img
{
	border:2px outset grey;
}



/*------------------------------------------------------CLASS--------------------------------------------------------------*/

.bigger
{
	font-size:25px;
	text-decoration:none;
}


.caption {
  position: absolute;
  left: 0;
  top: 40%;
  width: 100%;
  text-align: center;
  color: #000;
  text-shadow:6px 6px 6px black;
}

.bgimg-1, .bgimg-2{
  position: relative; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("../Images/Home/iss057e035382_lrg.jpg");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("../Images/Venus/757_iss044e020824.jpg");
  min-height: 350px;
}



/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.tinyp
{
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Policespec";
  color: #E12F2F;
  text-align:center;
  padding-top:2px;
}

.container
{
	width:80%;	
	margin:auto;
	text-align:justify;
	color:white;
}

.container2
{
	width:90%;	
	margin:auto;
	text-align:justify;	
	display:flex;
	justify-content: space-around;
	color:white;
}

.container2 iframe
{
	border:3px outset grey;	
}

.container3
{	
	text-align:center;
	padding:25px ;
	color:white;
}

.pagesuivante
{
	letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Policespec";
    color: #FE0000;
     
}

/*------------------------------------------------------ID--------------------------------------------------------------*/
#border1
{
	font-family: 'Policetitle';
	font-size:90px;
	color:#F5F5F5 ;
	padding: 18px;	
	letter-spacing: 10px;
	font-weight:bold;	
}

nav img
{
	border:0px;
	float:left;
}

/* Style the navbar */
#navbar {
  overflow: hidden;
  background-color: black;
  z-index:10;
  display:flex;
  flex-wrap:nowrap;  
}

/* Navbar links */
#navbar a {
  float: left;
  display:block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none; 
  width: 10%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
}

#navbar a:hover
{
	transition:0.3s;
	background-color:grey;
}

#navbar a:hover img
{
	transform: scale(1.5);
	transition:0.5s;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #727272;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}

#myBtn:active {
  background-color: #555;
  transform: translateY(4px);
}

#asidetxtimg
{	
	border:3px outset #D5D5D5;
	margin-left:15px;
	width:254px;
	float:right;
	height:340px;
	font-size:14px;
	text-align:center;
}

#asidetxtimg2
{	
	border:3px outset #D5D5D5;
	margin-left:15px;
	
	width:373px;
	float:right;
	height:265px;
	font-size:14px;
	text-align:center;
}

#asidetxtimg3
{	
	border:3px outset #D5D5D5;
	margin-left:15px;
	width:270px;
	float:right;
	height:390px;
	font-size:14px;
	text-align:center;
}

#asidetxtimg4
{		
	border:3px outset #D5D5D5;
	margin-left:15px;
	width:265px;
	float:right;
	height:265px;
	font-size:14px;
	text-align:center;	
}

#asidetxtimg5
{		
	border:3px outset #D5D5D5;
	margin-left:15px;
	width:330px;
	float:right;
	height:340px;
	font-size:14px;
	text-align:center;	
}

#asidetxtimg6
{		
	border:3px outset #D5D5D5;
	margin-left:15px;
	width:254px;
	float:right;
	height:340px;
	font-size:14px;
	text-align:center;
}

#asidetxtimg7
{		
	border:3px outset #D5D5D5;
	margin-left:15px;
	width:256px;
	float:right;
	height:390px;
	font-size:14px;
	text-align:center;	
}

#asidetxtimg8
{		
	border:3px outset #D5D5D5;
	margin-left:15px;
	width:390px;
	float:right;
	height:365px;
	font-size:14px;
	text-align:center;	
}

#asidetxtimg9
{		
	border:3px outset #D5D5D5;
	margin-right:15px;
	float:left;
	width:708px;
	
	height:480px;
	font-size:14px;
	text-align:center;	
}

#asidetxtimg10
{		
	border:3px outset #D5D5D5;
	margin-left:15px;
	width:505px;
	float:right;
	height:320px;
	font-size:14px;
	text-align:center;	
}

#asidetxtimg11
{		
	border:3px outset #D5D5D5;
	margin-left:15px;
	width:342px;
	float:right;
	height:290px;
	font-size:14px;
	text-align:center;	
}

#asidetxtimg12
{		
	border:3px outset #D5D5D5;
	margin-left:15px;
	width:298px;
	float:right;
	height:250px;
	font-size:14px;
	text-align:center;	
}

#asidetxtimg13
{		
	border:3px outset #D5D5D5;
	margin-left:15px;
	width:410px;
	float:right;
	height:300px;
	font-size:14px;
	text-align:justify;
}

#asidetxtimg13 table
{
	margin:auto;
}


#asidetxtimg14
{		
	border:3px outset #D5D5D5;
	margin-left:15px;
	width:280px;
	float:right;
	height:345px;
	font-size:14px;
	text-align:center;
}

#asidetxtimgleft
{	
	border:3px outset #D5D5D5;
	margin-right:15px;
	width:381px;
	float:left;
	height:755px;
	font-size:14px;
	text-align:center;
}

#asidetxtimgleft2
{	
	border:3px outset #D5D5D5;
	margin-right:15px;
	width:363px;
	float:left;
	height:340px;
	font-size:14px;
	text-align:center;
}

#asidetxtimgleft3
{	
	border:3px outset #D5D5D5;
	margin-right:15px;
	width:371px;
	float:left;
	height:290px;
	font-size:14px;
	text-align:center;
}

#asidetxtimgleft4
{	
	border:3px outset #D5D5D5;
	margin-right:15px;
	width:465px;
	float:left;
	height:245px;
	font-size:14px;
	text-align:center;
}

#asidetxtimgleft5
{	
	border:3px outset #D5D5D5;
	margin-right:10px;
	width:470px;
	float:left;
	height:395px;
	font-size:14px;
	text-align:center;
}

#asidetxtimgleft6
{	
	border:3px outset #D5D5D5;
	margin-right:10px;
	width:447px;
	float:left;
	height:295px;
	font-size:14px;
	text-align:center;
}

#asidetxtimgleft7
{	
	border:3px outset #D5D5D5;
	margin-right:10px;
	width:237px;
	float:left;
	height:240px;
	font-size:14px;
	text-align:center;
}

#asidetable
{			
	margin-left:15px;
	width:350px;
	float:right;
	height:360px;
	font-size:14px;
	text-align:center;
}

#asidetable table
{		
	border-collapse:collapse;
	border:2px outset grey;
	width:100%;
}

#asidetable table td
{		
	border:1px solid grey;
}

#asidetable thead th
{		
	border:1px solid grey;
	border-bottom:1px solid grey;
	background-color:#D29B7D;
}

#asidetable tfoot th 
{	
	border:1px solid grey;
	background-color:#D29B7D;
}


#asidetable2
{			
	margin-right:20px;
	float:left;
	width:375px;
	
	height:555px;
	font-size:14px;
	text-align:center;
	border-collapse:collapse;
	border:2px outset grey;
}

#asidetable2 table
{		
	border-collapse:collapse;
	border:2px outset grey;
	width:100%;
}

.whte img
{
	border:0px;
}

#asidetable2 table td
{		
	border:1px solid grey;
}

#asidetable2 thead th
{		
	border:1px solid grey;
	border-bottom:1px solid grey;
	background-color:#D29B7D;
}

#asidetable2 tfoot th 
{	
	border:1px solid grey;
	background-color:#D29B7D;
}


#asidetable3
{			
	margin-left:15px;
	width:500px;
	float:right;
	height:203px;
	font-size:14px;
	text-align:center;
	border-collapse:collapse;
	border:2px outset grey;
}

#asidetable3 table
{		
	border-collapse:collapse;
	border:2px outset grey;
	width:100%;
}

#asidetable3 table td
{		
	border:1px solid grey;
}

#asidetable3 thead th
{		
	border:1px solid grey;
	border-bottom:1px solid grey;
	background-color:#D29B7D;
}


#asidetable4
{			
	margin-right:20px;
	float:left;	
	font-size:14px;
	text-align:center;
	border-collapse:collapse;
	border:2px outset grey;
}

#asidetable4 table
{		
	border-collapse:collapse;
	border:2px outset grey;
	width:100%;
	height:100%;
}

#asidetable4 table td
{		
	border:1px solid grey;
	padding-left:35px;
	text-align:justify;
}

#asidetable4 thead th
{		
	border:1px solid grey;
	border-bottom:1px solid grey;
	background-color:#D29B7D;
}

#pacific
{
	background-color:#FEE6AA;
	color:#FEE6AA;
	border:1px solid black;
	width:30px;
	height:10px;
}

#afric
{
	background-color:#FB9A7A;
	color:#FB9A7A;
	border:1px solid black;
	width:30px;
	height:10px;
}

#nam
{
	background-color:#AC8D7F;
	color:#AC8D7F;
	border:1px solid black;
	width:30px;
	height:10px;
}

#euras
{
	background-color:#7FA172;
	color:#7FA172;
	border:1px solid black;
	width:30px;
	height:10px;
}

#antar
{
	background-color:#8A9DBE;
	color:#8A9DBE;
	border:1px solid black;
	width:30px;
	height:10px;
}

#indo
{
	background-color:#FCB482;
	color:#FCB482;
	border:1px solid black;
	width:30px;
	height:10px;
}

#sam
{
	background-color:#AD82B0;
	color:#AD82B0;
	border:1px solid black;
	width:30px;
	height:10px;
}

#asidetable5
{			
	margin-left:20px;
	float:right;	
	font-size:14px;
	text-align:center;
	border-collapse:collapse;
	border:2px outset grey;
}

#asidetable5 table
{		
	border-collapse:collapse;
	border:2px outset grey;
	width:100%;
	height:100%;
}

#asidetable5 table td
{		
	border:1px solid grey;	
}

#asidetable5 thead th
{		
	border:1px solid grey;
	border-bottom:1px solid grey;
	background-color:#D29B7D;
}

#nam2
{
	background-color:#00CC00;
	color:#00CC00;
	border:1px solid black;
	width:30px;
	height:10px;
}

#europe
{
	background-color:#C10000;
	color:#C10000;
	border:1px solid black;
	width:30px;
	height:10px;
}

#asia
{
	background-color:#F33E01;
	color:#F33E01;
	border:1px solid black;
	width:30px;
	height:10px;
}

#africa
{
	background-color:#FED52E;
	color:#FED52E;
	border:1px solid black;
	width:30px;
	height:10px;
}

#sam2
{
	background-color:#008000;
	color:#008000;
	border:1px solid black;
	width:30px;
	height:10px;
}

#austr
{
	background-color:#C04080;
	color:#C04080;
	border:1px solid black;
	width:30px;
	height:10px;
}

#ant2
{
	background-color:#0040FF;
	color:#0040FF;
	border:1px solid black;
	width:30px;
	height:10px;
}


#asidetable6
{			
	margin-left:20px;
	float:right;	
	font-size:14px;
	text-align:center;
	border-collapse:collapse;
	border:2px outset grey;
}

#asidetable6 table
{		
	border-collapse:collapse;
	border:2px outset grey;
	width:100%;
	height:100%;
}

#asidetable6 table td
{		
	border:1px solid grey;	
}

#asidetable6 thead th
{		
	border:1px solid grey;
	border-bottom:1px solid grey;
	background-color:#D29B7D;
}

/*----------------Slideshow-------------------*/
/* Slideshow container */
.slideshow-container { 
  position: relative;
  padding-right:15px;
  float:left;	
}

.slideshow-container p 
{
	margin:right;
}
/* Hide the images by default */
.mySlides {
  display: none;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}














